@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face{
    font-family: 'Roboto Mono';
    src: url(/assets/Roboto_Mono/static/RobotoMono-Regular.ttf) format("truetype");
}

h1{
    font-family: 'Roboto Mono';
}

body {
    padding-top: 56px;
  }

footer {
	width:100%;
	bottom:1px;
	height: 58px;
	
}