@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@font-face{
    font-family: 'Roboto Mono';
    src: url(/assets/Roboto_Mono/static/RobotoMono-Regular.ttf) format("truetype");
}

h1{
    font-family: 'Roboto Mono';
}

html, body {
    padding-top: 26px;
    height: 100%;
    padding-bottom: 20px;    
  }

footer {
    clear: both;
    position: relative;
    height: 50px;
    bottom: 0;
    width: 100%;	
}

.wrapper{
    height: 100vh;
    min-height: 2000px;

}