<div class="row">
    <div class="col-md-3">
        <app-book-category></app-book-category>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5">
                <div class="thumbnail">
                    <img class="card-img-top img-responsive" [src]="book?.imageUrl" alt="" height="300" width="100%">
                </div>
            </div>
            <div class="col-md-7">
                <h3>{{book?.name}}</h3>
                <hr />
                <h6>{{book?.description}}</h6>
                <hr />
                <h5><strong>Price:</strong> {{book?.unit_price | currency: 'USD'}}</h5>
                <hr />
                <h5><strong>Quantity:</strong> {{book?.unitInStock}}</h5>
                <hr />

                <a routerLink="/books" class="btn btn-success">
                    <i class="fas fa-arrow-left"> Back</i>
                </a>
                <a class="btn btn-primary ml-1">
                    <i class="fas fa-cart-arrow-down"> Add to cart</i>
                </a>
            </div>
        </div>
    </div>
</div>